/*Reusing style from auth*/

.vcs-container {
    justify-content: space-around;
    /* gap: 2vh; */
    gap: var(--panel-gap);
    /* width: 48vw; */
    width: var(--container-width);
    /* max-width: 512px; */
    max-width: var(--container-max-width);
    /* margin: max(4vh, 32px) auto; */
    margin: var(--container-margin);
    /* padding: 16px; */
    padding: var(--panel-padding);
    border: var(--border-line);
}

.vcs-title {
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
    left: 16px;
    background-color: var(--bg-secondary);
    /* padding: 0.4vw; */
    padding: var(--title-padding);
    width: max-content;
    /* transition: left 0.16s ease-in, transform 0.16s ease-in; */
    transition: left var(--transition-normal) ease-in, transform var(--transition-normal) ease-in;
}

.vcs-list-container {
    border-bottom: var(--border-line);
    /* height: calc(var(--container-width) / 4); */
    height: clamp(192px, calc(var(--container-width) / 2), 40vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.vcs-list-item {
    padding: calc(var(--panel-gap) / 4);
}

.vcs-list-item.active {
    background: var(--text-green);
    color: var(--bg-primary);
    box-shadow: 0 0 10px var(--text-green);
}

.vcs-list-item.active .vcs-list-branch {
    color: var(--bg-primary);
}

.vcs-btn {
    border: var(--border-line);
    padding: 8px 0;
    height: 8vh;
}

.vcs-button-container-container {
    flex-direction: row;
    flex: 1;
    gap: var(--panel-gap);
}

.vcs-button-container {
    flex: 1;
    gap: var(--panel-gap);
}