/*HUD Status Bar*/
.hud-bar {
    position: absolute;
    bottom: 4px;
    left: 8px;
    flex-direction: row;
}

.hud-bar * {
    font-size: var(--header-footer-font-size);
}

#login-status-bar,
#db-status-bar {
    position: relative;
    padding: 0 8px;
    flex-direction: row;
}

#login-status-display,
#db-status-display {
    padding: 0 4px;
    max-width: 32vw;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Theme Change Button */
#theme-change-btn {
    position: absolute;
    justify-self: center;
    top: 0px;
    right: 0px;
    width: 64px;
    height: 64px;
    padding: 1vh;
    margin: 1vh;
    cursor: pointer;
    border: none;
    background-color: var(--text-green);
    mask: url('../images/theme_switch.svg');
    transition: all 0.16s ease-out;
}

@media (max-width: 768px) or (max-height: 256px) {
    #theme-change-btn {
        width: 48px;
        height: 48px;
        transform: translateX(calc(-2 * (48vw - 48%)));
    }
}

@media (max-height: 111px) {
    #theme-change-btn {
        top: -100px;
    }
}