.navi-bar {
    height: clamp(var(--sub-navi-height), min(8vw, 8vh), var(--navi-height));
    width: 100%;
    /*Moved to navi-mask */
    /* border-bottom: var(--border-line); */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*removed, such that sub-navi-mask will not cover sub-navi-track*/
    /* z-index: 1000; */
}

.navi-bar * {
    font-weight: bold;
}

.navi-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary);
    border-bottom: var(--border-line);
}

/*clickable*/
.navi-item {
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.navi-item-text {
    padding: 0 4px;
    background-color: var(--bg-secondary);
}

.sub-navi-indicator {
    position: absolute;
    width: calc(100% + clamp(16px, 4vw, 8 * 64px));
    height: 100%;
    border: var(--border-line);
    top: 50%;
    background-color: var(--bg-secondary);
    /*below sub-navi-mask*/
    /*
    pending animation
    height: ;
    transform: translateY();
    */
}

/*unify height of navi and sub-nav by tier [32, 48, 64]
*/
.sub-navi-indicator-mask,
.sub-navi-track,
.sub-navi-item {
    height: clamp(32px, min(6vw, 6vh), var(--sub-navi-height));
}

.sub-navi-indicator-mask {
    width: 100%;
    background-color: var(--bg-secondary);
    border-bottom: var(--border-line);
}

/*hoverable*/
.sub-navi-track {
    position: absolute;
    top: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    /*above sub-navi-mask*/
}

/*clickable*/
.sub-navi-item {
    position: relative;
    justify-content: center;
    width: max-content;
}

.sub-navi-item-text {
    padding: 0 clamp(16px, 2vw, 48px);
}