.page-container {
    width: 100%;
    /*fill vertical space*/
    /*DO NOT USE HEIGHT: 100%*/
    flex: 1;
    /*scroll setting*/
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--text-green) var(--bg-primary);
    background-image: url(../images/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(100vh, 768px);
    /*
    pending animation
    transform: translateY();
    this can create film strip illusion
    background-size: contain;
    */
    padding: calc(var(--header-height) / 4) var(--header-height);
    transition: all 0.08s ease-in;
}

@media (max-width: 768px) {
    .page-container {
        padding: calc(var(--header-height) / 2) calc(var(--header-height) / 2);
    }
}

.page {
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: none;
}

.page.active {
    display: flex;
}